/*God help me I cannot for the life of my figure out how to center these images.
It looks centered on one monitor, then I move it to my second monitor and it looks
wacky :/ */
.images
{
    margin: auto;
    width: 80%;
}

*
{
    font-family:"Courier New", Courier, monospace;
}

.index.header
{
    text-align: center;
}

.index.context
{
    text-align: center;
    font-size: 12px;
}

.index.groups
{
    text-align: center;
    background-color: hsl(0, 0%, 75%);
    box-sizing: border-box;
    font-size: 36px;
    margin: 80px;
}
/*Goal: Remove the purple text that appears
after a user has visited a link*/
.index.groups:hover
{
    background-color: hsl(0,100%,100%);
    font-style: italic;
    font-weight: bold;
}

.index.groups:link
{
    color: rgb(100,100,100);
}

.index.boxes
{
    width: 50%;
    margin: auto;
}

.food.images
{
    height: 175px;
    width: auto;
    /*border: 2px solid red;*/
    display: inline-block;
}

.groups.box{
    /*border: 2px solid green;*/
    width: 50%;
    margin-left: 25%;
    height: auto;
    text-align: center;
}

.page.background
{
    background-color:hsl(199, 77%, 90%);
}
/*Bug: Burrito Image too big, can't seem to fix with this class for some reason*/
.ingredient.image
{
    height: 50%;
    width: auto;
}