/*God help me I cannot for the life of my figure out how to center these images.
It looks centered on one monitor, then I move it to my second monitor and it looks
wacky :/ */
.images
{
    margin: auto;
    width: 80%;
}

*
{
    font-family:"Courier New", Courier, monospace;
}

#main-menu-title
{
    text-align: center;
}

.index.context
{
    text-align: center;
    font-size: 12px;
}

.index.groups
{
    text-align: center;
    font-size: 36px;
    margin: 80px;
}